
<!-- app-page-header [content]="pageContent.sidebar"></app-page-header -->
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;

<small>&nbsp;</small>
<p>roster page 1</p>
<div class="col-12 col-med-8" *ngIf=participant.roster>
  
   
  
  <div class="col-sm-8">
    
    <!-- ul>{{teamName}}&nbsp;&nbsp;{{player}}&nbsp;{{playerClass}}&nbsp;{{playerNumber}}</ul -->
    <div *ngFor ="let roster of participant.roster">
      {{roster.teamName}}&nbsp;&nbsp;{{roster.player}}&nbsp;{{roster.playerClass}}&nbsp;{{roster.playerNumber}}
    </div>
    
  </div>
</div>
  <p>roster page 2</p>
  
<div class="col-10 col-sm-2">
  <li><a href="https://giving.side-out.org/campaigns/16865"         type="button" class="nav-link float-right">Donations for Oak Park</a></li>

  <li><a href="https://oakparkdigpinkvolleyball.itemorder.com/"     type="button" class="nav-link float-right">Apparel Store for Oak Park</a></li>
 
  <li><a href="https://giving.side-out.org/campaigns/16867"         type="button" class="nav-link float-right">Donations for Winnetonka</a></li> 
      
  <li><a href="https://winnetonkadigpinkvolleyball.itemorder.com/"  type="button" class="nav-link float-right">Apparel Store for Winnetonka</a></li>          
   
  <li><a href="https://giving.side-out.org/campaigns/16866"         type="button" class="nav-link float-right">Donations for North Kansas City</a></li>  
    
  <li><a href="https://nkcdigpinkvolleyball.itemorder.com/"         type="button" class="nav-link float-right">Apparel Store for North Kansas City</a></li>  
 
  <li><a href="https://giving.side-out.org/campaigns/16864"         type="button" class="nav-link float-right">Donations for Staley</a></li>        
    
  <li><a href="https://staleydigpinkvolleyball.itemorder.com/"      type="button" class="nav-link float-right">Apparel Store for Staley</a></li>
  
</div> 
  

