<app-page-header [content]="pageContent.header"></app-page-header>
<div class="row">
    <div class="col-12 col-lg-8" [innerHTML]="pageContent.content | htmlLineBreaks"></div>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="https://side-out.org/donate/" routerLinkActive="active" class="nav-link">Donations</a>
          <a href="https://giving.side-out.org/campaigns/16865" routerLinkActive="active" class="nav-link">
              Order Merchandise for Oak Park
          </a>            
          <a href="https://giving.side-out.org/campaigns/16867" routerLinkActive="active" class="nav-link">
            Order Merchandise for Winnetonka
          </a>   
          <a href="https://giving.side-out.org/campaigns/16866 " routerLinkActive="active" class="nav-link">
          Order Merchandise for North Kansas City
          </a>   
          <a href="https://giving.side-out.org/campaigns/16866 " routerLinkActive="active" class="nav-link">
          Order Merchandise for Staley
          </a>         
        </li>
    </ul>
</div>

