<app-page-header [content]="pageContent.header"></app-page-header>
<div class="row">
    <div class="col-12 col-lg-8" [innerHTML]="pageContent.content | htmlLineBreaks"></div>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="https://giving.side-out.org/campaigns/16865" routerLinkActive="active" class="nav-link">
              Donations for Oak Park
          </a>      
          <a href="ttps://oakparkdigpinkvolleyball.itemorder.com/" routerLinkActive="active" class="nav-link">
            Apparel Store for Oak Park
        </a>                 
          <a href="https://giving.side-out.org/campaigns/16867" routerLinkActive="active" class="nav-link">
            Donations for Winnetonka
          </a>  
          <a href="https://winnetonkadigpinkvolleyball.itemorder.com/" routerLinkActive="active" class="nav-link">
            Apparel Store for Winnetonka
          </a>           
          <a href="https://giving.side-out.org/campaigns/16866 " routerLinkActive="active" class="nav-link">
            Donations for North Kansas City
          </a>   
          <a href="https://nkcdigpinkvolleyball.itemorder.com/ " routerLinkActive="active" class="nav-link">
            Apparel Store for North Kansas City
            </a>   
          <a href="https://giving.side-out.org/campaigns/16864 " routerLinkActive="active" class="nav-link">
            Donations for Staley
          </a>         
          <a href="https://staleydigpinkvolleyball.itemorder.com/ " routerLinkActive="active" class="nav-link">
            Apparel Store for Staley
            </a>          
        </li>
    </ul>
</div>

