<!-- div class="card" *ngFor="let participant of participants"></div -->
 
<!-- a href="/roster.component">Staley</a -->
<ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a routerLink="roster" routerLinkActive="active" class="nav-link">Staley Roster</a>
    </li>
  </ul>
<small>$nbsp;</small>
<a href="/roster">Winnetonka</a>
<small>$nbsp;</small>

<a href="Oak Park">Oak Park</a>
<small>$nbsp;</small>
<a href="North Kansas City">North Kansas City</a>

<div class="card" *ngFor="let participant of participants">
    <p> participant html 1</p>
    <div class = "card-block">
        <h4>
            <p>does this display</p>
            <a href="Staley">Staley</a>
            <a href="/participants/5f4ec387688cb978036c1918">{{school}}</a>
            <a href="/participants/{{participant._id}}">{{participant.school}}</a>
            <small>$nbsp;</small>
            <span class="badge badge-pill badge-default float-right"></span>
        </h4>
    </div>
</div>


