&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;
<div class="row">
    <div class="col-12">
       <div class="card card-primary memorial-card">
            <div class="card-block">
                <button (click)="formVisible=true" class="btn btn-primary float-right">Add Honor or Memorial
                </button> 
                <div *ngIf="formVisible">
                    <!-- form (ngSubmit)="onMemorialSubmit()" -->
                        <form (ngSubmit)="onSubmit()">
                           <hr>
                           <h4>Add your Honor or Memorial</h4>
                        <div *ngIf="formError" class="alert alert-dnager" role ="alert">
                               {{formError}}
                        </div>
                        <div class="form-group row">
                               <label for="honor" class="col-sm-2 col-form-label">Honoree</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="newMemorial.honor" id="honor" name="honor" required="required"
                                   class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="player" class="col-sm-2 col-form-label">Player</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="newMemorial.player" id="player" name="player" required="required"
                                class="form-control">
                            </div>
                        </div>    
                        <div class="form-group row">
                            <label for="school" class="col-sm-2 col-form-label">School</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="newMemorial.school" id="school" name="school" required="required"
                                class="form-control">
                            </div>
                        </div> 
                            <div class ="form-group row">
                                <div class="col-12">

                                    <button type="submit" class="btn btn-primary float-left" style="margin-left:15px">Submit Honoree or Memorial</button>                                  
                                    <button (click)="formVisible=false" type="button" class="btn btn-primary float-right">Cancel</button> 
                                </div>   
                            </div>                                             
         
                    </form>
                </div>
            </div>
        </div>  
        &nbsp;&nbsp;   
        &nbsp;&nbsp; 
        <div class="card" *ngFor="let memorial of memorials">
            <div class = "card-block">
                <h4>
                    &nbsp;&nbsp;   
                    &nbsp;&nbsp; 
                    &nbsp;&nbsp;   
                    &nbsp;&nbsp;                                         
                  <span class="honor">{{memorial.honor}}</span>
                  &nbsp;&nbsp;
                  <span class="player">{{memorial.player}}</span>
                  &nbsp;&nbsp;
                  <span class="school">{{memorial.school}}</span>  
            
                </h4>         
            </div>   
        </div>
    </div> 
</div>            
