.btn-primary {
    background-color: #da1884;
    border-color: 2px solid #6d0740;
    color: white;
    border: 2px solid #555555;
  }

.btn-primary:hover {
    background-color: #6d0740;
    color: white;
  }

.card-block {
  background-color: #da1884;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
  padding-bottom: 0.5em;
  font-size-adjust: 10%;
}

.banner {
    margin-top: 4em;
    background-color: #da1884;
    border-bottom: 1px solid  #6d0740;
    margin-bottom: 1.5em;
    margin-top: .5em;
    padding-bottom: 0.5em;
    font-size-adjust: 10%;
  }
