 
<!span *ngFor="let team of teams" class="badge badge-warning">
<span *ngFor="let team of teams" class="badge badge-warning">
    <ul>
    <l>{{team.teamName}}</l>
    &nbsp;&nbsp;&nbsp; 
 
    <l>{{team.player}}</l>
    &nbsp;&nbsp;&nbsp; 
    <l>{{team.class}}</l>
    &nbsp;&nbsp;&nbsp; 
    <l>{{team.playerNumber}}</l>
    </ul>
</span>    

    <!-- li>{{roster.teamName}}</li -->
    <!-- i class="{{roster.player}}"></i>
    <i class="{{roster.class}}"></i>
    <i class="{{playerNumber}}"></i -->

      