<p>tournament works 1!</p>
<small>&nbsp;</small>
<small>&nbsp;</small>
<small>&nbsp;</small>
<p>tournament works 2!</p>
<small>&nbsp;</small>
<small>&nbsp;</small>
<small>&nbsp;</small>
<p>tournament works 3!</p>
<small>&nbsp;</small>
<small>&nbsp;</small>
<small>&nbsp;</small>
<p>tournament works 4!</p>
<small>&nbsp;</small>
<small>&nbsp;</small>
<small>&nbsp;</small>
<div class="card">
  <div class="card-block">
    <h4>
      <!-- a href="/tournments/{{tournaments.school}}">{{tournaments.school}}</a -->  
    </h4>  
  </div> 
<p>tournament works!</p>
</div>
