<div class="card" *ngFor="let tournament of tournaments | earliestFirst"> 
  <div class = "card-block">
    <h4>
      <!-- a href="/tournments/{{tournaments.school}}">{{tournaments.school}}</a -->  
     
      &nbsp;
      &nbsp;
      &nbsp;
      <p> </p> 
      <!-- div ng-repeat="x in tournaments | orderBy: 'time'" -->
    
      <span class="tournamentTme">{{tournament.time}}</span>
      &nbsp;&nbsp;&nbsp; 
      <span class="tournamentTeam">{{tournament.team}}</span>
      &nbsp;&nbsp;&nbsp;
      <span class="tournamentHome">{{tournament.home}}</span>
      &nbsp;&nbsp;&nbsp;
      <span class="tournamentOpponent">{{tournament.opponent}}</span>
      &nbsp;&nbsp;&nbsp;
      <span class="tournamentVisitor">{{tournament.visitor}}</span>
      &nbsp;&nbsp;&nbsp;  
      <span class="tournamentGym">{{tournament.gym}}</span>
      <!-- /div -->
    </h4>
  </div> 
</div>
