<div class="card" *ngFor="let tournament of tournaments">
  <div class = "card-block">
    <h4>
      <!-- a href="/tournments/{{tournaments.school}}">{{tournaments.school}}</a -->  
     
      &nbsp;
      &nbsp;
      &nbsp;
      <p> </p> 

      <span class="time">{{tournament.time}}</span>
      &nbsp;&nbsp;&nbsp; 
      <span class="team">{{tournament.team}}</span>
      &nbsp;&nbsp;&nbsp;
      <span class="home">{{tournament.home}}</span>
      &nbsp;&nbsp;&nbsp;
      <span class="opponent">{{tournament.opponent}}</span>
      &nbsp;&nbsp;&nbsp;
      <span class="visitor">{{tournament.visitor}}</span>
      &nbsp;&nbsp;&nbsp;  
      <span class="gym">{{tournament.gym}}</span>
    </h4>
  </div> 
</div>
