<app-page-header [content]="pageContent.header"></app-page-header>
<!-- app-page-header></app-page-header -->
<div class="row banner">
  <div class="col-12">
    <h1>Welcome to the NKCSD Dig Pink Website!!</h1>
    <!--h1> NKCSD Dig Pink>
    </h1-->
  </div>
</div>  
<div class="row">    
  <div class="col-12 col-md-8">
    <div class="error">
    </div>
    <!-- app-tournament></app-tournament -->
    <app-participant></app-participant>
  </div>
  <img src="assets/img/dig pink 2019.jpg">
  <!--app-sidebar [content]="pageContent.sidebar"><img src="assets/img/dig pink 2019.jpg"></app-sidebar-->
  <!--div class="col-8 col-md-4">{{pageContent.sidebar}}</div-->
</div>
