h1 small {
    color: #f5bedc;
    font-size: 10%;
    line-height: 100%;
  }

.banner {
    margin-top: 4em;
    background-color: #da1884;
    border-bottom: 1px solid  #6d0740;
    margin-bottom: 1.5em;
    margin-top: .5em;
    padding-bottom: 0.5em;
    font-size-adjust: 10%;
  }
  
  